* {
    margin: 0;
    padding: 0;
}
body{
    background: grey url('../img/wall.jpg') no-repeat center center ;
    background-size: cover;
}
a {
    text-decoration: none;
}

kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block; /*变成块级元素*/
    text-transform: uppercase;
}

kbd {
    position: relative;
}

kbd > button {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button {
    display: inline-block;
}

main {
    height: 100vh; /*viewport height*/
    text-align: center;
    /*以下三行在窗口中居中公式*/
    display: flex; /*变成弹性盒*/
    justify-content: center; /*横向居中*/
    align-items: center;
}

#main {
    display: inline-block; /*变成内联元素*/
}

#main > div:nth-child(2) {
    margin-left: -18px;
}

#main > div:nth-child(3) {
    margin-left: -92px;
}
.wrapper{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
.key {
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%, #111111 100%);
    border: 1px solid #373737;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
    color: #c5c5c5;
    /*字居中
    display: inline-flex;
    align-items: center;
    justify-content: center;
    */
    font-size: 16px; /*不同的字体，size是不一样的，根据具体情况去调*/
    font-family: Helvetica;
    position: relative;
}

.row {
    margin: 20px;
}

.row .key {
    margin: 0 10px;
}

.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    bottom: 2px;
}

.key .text{
    position: absolute;
    left: 4px;
    top: 2px;
}